<!doctype html>
<title>HackUPC - Destiny generation from image</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>HackUPC - Destiny generation from image</h1>
  <form action="{{ url_for('submit_image') }}" enctype=multipart/form-data method=post>
    <dl>
      <dt>Image:
      <dd><input type=file name=image accept="image/*">
      <dd><input type=submit value=Submit>
    </dl>
  </form>
  {% block body %}{% endblock %}
</div>
